.rightbar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color:#eee;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 50px;
    padding: 20px;

}
.contact-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.rightbar-heading{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 400;
}
.rightbar-contacts{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.rightbar-contacts span{
    font-size: 20px;
    margin-left: 16px;
    cursor: pointer;
}
.rightbar-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}