
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(195, 208, 218);
    height: 50px;
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.75);
position: fixed;
}
.nav-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-nav{
    display: flex;
    align-items: center;
}
.nav-input{
    padding: 3px;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.search{
    cursor: pointer;
    margin-left: 5px;
}
.logo{
    font-weight: 1000;
    font-size: 25px;
    margin-left: 20px;
    font-family:cursive;
    
}
.nav-center{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-icon{
    cursor: pointer;
    margin-right: 50px;
}
.nav-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-icon{
    margin-left: 40px;
    cursor: pointer;
}
